<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <!-- Basic Time Logger -->
      <add key="BasicTimeLogger" value="true" />
      <add key="BasicTimeLoggerFrequency" value="1"/>

      <!-- Email Test Logger -->
      <add key="EmailTest" value="false"/>
      <add key="EmailTestFrequency" value="1"/>
	  
	  <!-- WriteToFile -->
	  <add key="WriteToFile" value="false"/>
	  <add key="WriteToFileFrequency" value="5"/>
	  <add key="WriteToFileDir" value="C:\Files\Test"/>

  </appSettings>
</configuration>