<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <!-- Basic Time Logger -->
      <add key="BasicTimeLogger" value="true" />
      <add key="BasicTimeLoggerFrequency" value="1"/>

      <!-- Email Test Logger -->
      <add key="EmailTest" value="false"/>
      <add key="EmailTestFrequency" value="1"/>

  </appSettings>
</configuration>