<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogLevel="Off" internalLogFile="C:\Log\nlog-internal.log"
	>
	<extensions>
		<add assembly="NLog.Targets.Mail" />
	</extensions>
	
	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<variable name="appName" value="WinServiceBaseCore"/>

	<variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=5:inner=${uppercase:${level}}} ${logger} ${callsite:includeSourcePath=false} - "/>
	<variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>

	<targets>
		<!-- add your targets here -->
		<target xsi:type="Null" name="blackHole" />
		
		<target xsi:type="Console"
					name="console"
					layout="${date:format=yyyyMMdd HH\:mm\:ss} | ${pad:padding=25:inner=${logger:shortName=true:prefixName=true}} | ${pad:padding=5:inner=${uppercase:${level}}} | ${message}" />

		<target xsi:type="File" name="default" fileName="${basedir}/logs/${appName}_${shortdate}.log"
			  layout="${linePrefix}${message}${exceptionFormat}" />

		<target xsi:type="Mail"
				name="TestEmail"
				smtpServer="smtp.office365.com"
				smtpPort="587"
				smtpAuthentication="Basic"
				smtpUserName="NoReply@Example.com"
				smtpPassword=""
				enableSsl="true"
				from="NoReply@Example.com"
				to="Test@Example.com"
				subject="${appName}: Test Email"
				body="${linePrefix}${message}${newline}${exceptionFormat}"/>

	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackHole" final="true"/>

		<!-- add your logging rules here -->
		<logger name="*" minlevel="Info" writeTo="default, console" />
		<logger name="*EmailTest" minlevel="Info" writeTo="TestEmail" />

	</rules>
</nlog>